<Project>
  <!--
    Copy this file to Directory.Build.props and set BannerlordPath to your game install.

    Linux (Steam):  /home/USERNAME/.steam/steam/steamapps/common/Mount & Blade II Bannerlord
    Windows (Steam): C:/Program Files (x86)/Steam/steamapps/common/Mount & Blade II Bannerlord
  -->
  <PropertyGroup>
    <BannerlordPath>REPLACE_WITH_YOUR_BANNERLORD_PATH</BannerlordPath>
    <GameBinPath>$(BannerlordPath)/bin/Win64_Shipping_Client</GameBinPath>
    <ModRootPath>$(BannerlordPath)/Modules/BloodlineProgression/</ModRootPath>
    <ModDeployPath>$(ModRootPath)bin/Win64_Shipping_Client/</ModDeployPath>
  </PropertyGroup>

  <ItemGroup>
    <Reference Include="$(GameBinPath)/TaleWorlds.CampaignSystem.dll" Private="false" />
    <Reference Include="$(GameBinPath)/TaleWorlds.Core.dll" Private="false" />
    <Reference Include="$(GameBinPath)/TaleWorlds.Library.dll" Private="false" />
    <Reference Include="$(GameBinPath)/TaleWorlds.MountAndBlade.dll" Private="false" />
    <Reference Include="$(GameBinPath)/TaleWorlds.ObjectSystem.dll" Private="false" />
    <Reference Include="$(GameBinPath)/TaleWorlds.Localization.dll" Private="false" />
    <Reference Include="$(GameBinPath)/TaleWorlds.Engine.dll" Private="false" />
  </ItemGroup>
</Project>
